@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    list-style: none;
    padding: 0;
} 

/*header*/
header{
    background: black;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    z-index: 100; 
    width: 100%;
    height: 127px;
  
    
}
header .contenedor img{
    position: absolute;
    height: 120px;
    width: 120px;
    cursor: pointer;
    left: 13px;
    top:5px;
   
}

.btn_menu_2 a{
   
   color: blue;
    background:white;
    padding: 11px 53px;
    border-radius: 5px;
}

/*iconos*/
.icon-menu {
    display: block;
    width: 50px;
    height: 42px;
    background: white;
    font-size: 20px;
    color: blue;
    text-align: center;
    line-height: 35px;
    margin-left: auto;
    cursor: pointer;  
    position: absolute;
    right:12px ;
    top: 45px;
    border-radius: 5px;

}
 
.icon-menu:hover{
    color:rgba(161,138,138) ;
    transition: 0.2s;
}


/*nav*/
.nav {
    position: absolute;
    top: 127px;
    width: 100%;
    left:-130%;
    z-index: 1;
   
   
}
.menu_items{
    width: 430%;
 
}
.menu_link{
    display: block;
    padding: 10px;
    background: white;
    color:black;
    text-decoration: none;
    width: 100%;
    position: relative;
    text-align: center;
}

.menu_link:hover{
    color:rgba(138,221,45,1);
     transition: 0.2s;
}





.mostrar{
    left: 0;
}

/*botones*/
.botones{
    display: block;
    position: absolute;
    top: 55px;
    right: 70px;
}

/*banner*/
.banner{
    flex-wrap: wrap
}

/*main */
.article{
    position: relative;
    margin-bottom: 55px;
    display: block;
    
  
    
}
.article img, .imagenh1{
    padding-top: 50px;
    width: 100%;
}
.main_texto1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding:30px;
    border-bottom: 1px solid rgba(233, 232, 226);
}
.parrafo{
    position: relative;
    text-align:justify;
    font-size: 15px;
    line-height:25px;

}
 .main{
     width: 100%;
     display: block;
} 
/*info*/

.article{
    padding:15px;
}

.info_contenido_conten{
    position: relative;
    margin-bottom: 28px;
    background:	#ffe897 ;
    flex-wrap: wrap ;
    display: block;
    text-align: center;
    height: 348px;
}


.info_contenido img{
    width: 30%;
    position: relative;
   
}
.section_1 .info_contenido img, .tele_info,.tele_info2{
    position: relative;
     bottom: -30px;
    
}
.section_1{
    background: black;
    padding: 60px 15px;
}


.tele_info{
        font-size: 20px;
    margin-top: 10px;
    
 
}
.tele_info2{
            font-size: 15px;

}
/*arciculo2*/
.article_segundo{
    margin-top: -15px;
    padding:15px;
}

/*slider*/

.cevi{
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    
}

.img_slider{
 
    display: block;
    position: relative;
    height: 100%; 

}
.img_slider{
    position: relative;
   
}
.owl-carousel{
    padding:15px;
    
}

.costo{
    background: #2C2441;
    border-radius: 5px;
    width: 45%;      
    color: white;
    text-align: center;
    position: relative;
    left: 25%;
    margin: 5px

}
.puntos{
    background: #6FADF7;
    border-radius: 5px;    
    width: 70%;
    color: white;
    position: relative;
    left: 15%;
    margin: 5px
 
}
.botton{
    color: black;
    background: yellow;
    border-radius: 5px;
    margin: 5px;
    padding: 5px
    
}
.descrip{
  text-align: center;
    font-size: 20px;
    
}
.img_link{
     position: relative;
    text-align: center;
    border: 1px solid;
        
}


 /*footer*/

.footer{
    background: black;
    text-align: center;
    
}
.mf1{
      padding-top: 50px;
}
.menufooter{
    display: block;
    margin: 5px;
    font-size: 25px; 
    color: white;
     

}
 .submenufooter_link {
    color: white;
    font-size: 18px;
}

.foot_img{
    position: relative;
    height: 160px;
    width: 160px;
    top:7px;
}
 .img_link{
    margin: 10px;
    
    }

.owl-carousel{
    padding:1% 1%;
    

    
    } 


/*--estilos responsiver*/

@media(min-width:720px){
 
    header .contenedor{
    display: block;
    position: relative;
    align-items:center ;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    align-items:center ;
    }
    
    .btn_menu_2{
    display: block;
    position: relative;
    right: 75px;
        
    }
    .article{
    display: block;
    padding: 70px;
    margin: auto;
    margin-top: -80px  ;
    }
   .article_segundo
    {
    display: block;
    padding: 70px;
    margin: auto;
    margin-top: -80px  ;
    }
     
    .section_1{
    padding: 60px 80px;
    }
    .cevi{
     margin-top: -30px;
    }
    
}





@media(min-width:1080px){
    .icon-menu{display: none;
    }
    .nav{
        position: static;
        width: auto;
        bottom: 25px;
    }
    .nav ul{
        position: absolute;
        bottom: 19px;
        right: 185px;
    }
    .menu{
        position: absolute;
        display: flex;
        right: 0;
    }
    .menu_link{
        background: black;
        color: white;
        font-size: 19px;
    }
  
    header .contenedor{
        display: block;
        position: relative;
        align-content: center;
        width: 60%;
        align-items:center ;
        justify-content: space-between;
        margin: auto;
    }
    .botones{
        z-index: 100;
        position: absolute;
        top: 42px;
        right: 310px;
      }
    .linkcarrito{
        background:rgba(164, 223, 38, 1);
        width: 90px;
        height: 40px;
        top: -9px;
        text-align: center;
        line-height: 12px;
        border-radius: 10px;
    }
    .lik1{
            top: -15px;
    }
    
    /*main*/
    .article{
        padding: 90px 20%;
        display: flex;
    }
    .main_texto1,parrafo{
    position: absolute;  
     
    }
    .parrafo{
        top: 190px;
        margin: 30px; 
    }
    .parf2{
        top: 90px;
    }
    .main_texto1{
        width: 25%;
       
       
      }
    .text_art1{
        left: 25%;
        top: 150px;

    }
    .text_art2{
    right:25%;
    top: 2090px;
    position: absolute;
        
    }
    
 
    .article_segundo{
    padding: 90px 20%;
    display: flex;
      

    }
    .info_contenido{
        justify-content: center;
        display: flex;
        width: 65%;
        left:18.5%;
        position: relative   ;  
    }
  
   .info_contenido_conten{
    display: inline-block;
    margin: 10px
  
    }
     .cevi{
         margin-top: -30px;
         
    }
     .owl-carousel{
    padding:1% 19.5%;
 
    } 
    
    .img_link{
    margin: 10px;
    
    }
    .img_slider{
    position: relative;
    }
    .costo{
       width: 20%;
        left: 40%
    }
    .puntos{
     width: 52%;
    left: 25%;
    }
    .botton{
         padding: 10px;
    }
   
    
    /*footer*/
    .footer{
        display: flex;
        justify-content: center;
        height: 500px
      

    }
    .menufooterPrin{
        width: 1144px;
        height: 495px;
       
        
    }

    .submf1{
    position: relative;      
    text-align: left;
     width: 20%;
    }
    .submf2{
    position: relative;      
    text-align: left;
    left: 290px;
    top: -155px;
    width: 20%;
    }
    .submf3{
    position: relative;      
    text-align: left;
    left: 575px;
    top: -255px;
    width: 20%;
    height: 200px;
    }
    .foot_img{
    position: relative;
    left: 470px;
    top: -430px;
    height: 200px;
    width: 200px;         
     }
}
