@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    list-style: none;
    padding: 0;
} 

/*header*/
header{
    background: black;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    z-index: 100; 
    width: 100%;
    height: 127px;
  
    
}
header .contenedor img{
    position: absolute;
    height: 120px;
    width: 120px;
    cursor: pointer;
    left: 13px;
    top:5px
   
}

.btn_menu_2 a{
   
   color: blue;
    background:white;
    padding: 11px 53px;
    border-radius: 5px
}

/*iconos*/
.icon-menu {
    display: block;
    width: 50px;
    height: 42px;
    background: white;
    font-size: 20px;
    color: blue;
    text-align: center;
    line-height: 35px;
    margin-left: auto;
    cursor: pointer;  
    position: absolute;
    right:12px ;
    top: 45px;
    border-radius: 5px;

}
 
.icon-menu:hover{
    color:rgba(161,138,138) ;
    transition: 0.2s;
}


/*nav*/
.nav {
    position: absolute;
    top: 127px;
    width: 100%;
    left:-100%;
    z-index: 1;
  
   
}
header ul .menu{
    background: red
        
}
.menu_link{
    display: block;
    padding: 10px;
    background: white;
    color:black;
    text-decoration: none;
    width: 100%;
    position: relative
  
}

.menu_link:hover{
    color:rgba(138,221,45,1);
     transition: 0.2s;
}





.mostrar{
    left: 0;
}

/*botones*/
.botones{
    display: block;
    position: absolute;
    top: 55px;
    right: 70px;
}

/*banner*/
.banner{
    flex-wrap: wrap
}

/*main */
.article{
    position: relative;
   margin-bottom: 55px;
    display: block;
    
  
    
}
.article img, .imagenh1{
    padding-top: 50px;
    width: 100%
}
.main_texto1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding:30px;
    border-bottom: 1px solid rgba(233, 232, 226);
}
.parrafo{
    position: relative;
    text-align:justify;
    font-size: 15px;
    line-height:25px;

}
.main{
    padding:15px;
    ;         
}
/*info*/

  

.info_contenido_conten{
    position: relative;
  margin-bottom: 28px;
    background:	#ffe897 ;
    flex-wrap: wrap ;
    display: block;
    text-align: center;
    height: 348px;
    position: relative;
    

}


.info_contenido img{
    width: 45%
}
.section_1{
    background: black;
    width: 100%;
    height: 100%;
    flex-wrap: wrap ;
    padding: 61px 15px 
}

.tele_info{
        font-size: 20px;
    
 
}
.tele_info2{
            font-size: 15px;

}
/*arciculo2*/
.article_segundo{
    margin-top: 48px;
}
/*slider*/

.cevi{
    
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: 80px
}

.img_slider{
 border: 1px solid ;
    display: block;
    position: relative;
    height: 100%;
 
}

 /*footer*/

.footer{
    background: black;
    text-align: center;
    
}
.mf1{
      padding-top: 50px;
}
.menufooter{
    display: block;
    margin: 5px;
     font-size: 22px; 
    color: white;
     

}
 .submenufooter_link {
    color: white;
    font-size: 15px
}

.foot_img{
    position: relative;
    height: 160px;
    width: 160px;
    top:7px
}

/*--estilos responsiver*/
@media(min-width:1280px){
    .icon-menu{display: none;}
    
    .nav{
        position: static;
        width: auto;
        bottom: 25px;
    }
    .nav ul{
        position: absolute;
        bottom: 15px;
        right: 120px
    }
    .menu{
        position: absolute;
        display: flex;
         right: 0;
    }
    .menu_link{
        background: black;
        color: white;
        font-size: 20px;
    }
    header .contenedor{
        display: block;
        position: relative;
        align-content: center;;
        width: 60%;
        align-items:center ;
        justify-content: space-between;
        margin: auto;
    }
    .botones{
        z-index: 100;
        position: absolute;
        bottom: 25px;
        right: 330px
      }
    .linkcarrito{
        background:rgba(164, 223, 38, 1);
        width: 105px;
        height: 45px;
        text-align: center;
        line-height: 25px;
        border-radius: 10px
    }
    .lik1{
            top: -15px;
    }
    .main{
    padding:490px;
          padding-top: 0;
      display:flex
    ;         
}
    .article img, .imagenh1{
        width: 500px   ;
       float: left
    }
    .section_1{
      position: absolute;
        width: 150px;
         display:flex
   
    }
    .info_contenido img{
        width: 50px;
